In [32]:
import numpy as np
from astropy.io import fits
import pandas as pd

In [33]:
#Read CSC 2.1 into dataframe
filename='/Users/kciurleo/Documents/kciurleo/AGN/unorganized/CSC2.1p_OIR_SDSSspecmatch.csv'
data=pd.read_csv(filename)
columns = data.columns

/var/folders/6x/hz5y30457mqg1y9dl2fg7r5m00034d/T/ipykernel_34251/3238967991.py:3: DtypeWarning: Columns (57,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(filename)

In [35]:
#Find only sources with SDSS data
sources = data.dropna(subset=['Sep_SPEC_CSC21P'])
print(f'All source count:{len(sources)}, {len(data)-len(sources)} not observed with SDSS')

#Find only non-extended CSC sources
point_sources = sources.loc[sources['extent_flag']==False]
print(f'Point source count:{len(point_sources)}, removed {len(sources)-len(point_sources)}')

All source count:17666, 369775 not observed with SDSS
Point source count:16022, removed 1644

In [52]:
#Saved point sources as csv, which was used in SciServer CasJobs SQL query to get Portsmouth classifications
point_sources.to_csv('/Users/kciurleo/Documents/kciurleo/AGN/unorganized/point_sources.csv', index=False)

In [55]:
#Portsmouth classifications https://salims.pages.iu.edu/agn/
portsmouth=pd.read_csv('/Users/kciurleo/Documents/kciurleo/AGN/unorganized/point_source_classifications.csv')

#Agostino classifications https://salims.pages.iu.edu/agn/
agostino=pd.read_csv('/Users/kciurleo/Downloads/agostino2021_table1.csv')

In [51]:
agostino.loc[agostino['sl_class1']==1]

                 SDSS_ObjID  gen_el_class  sl_class1  sl_class2
41      1237648673996603913             5          1          1
65      1237648674532295222             5          1          1
104     1237648674511781988             5          1          1
214     1237648675068379652             5          1          1
225     1237648702968103032             5          1          1
...                     ...           ...        ...        ...
339601  1237680240911581282             5          1          1
339643  1237680240904044680             5          1          1
339678  1237680241435934959             5          1          1
339679  1237680240919052445             5          1          1
339691  1237680241437442055             5          1          1

[7055 rows x 4 columns]

In [56]:
portsmouth

                specobjID           bpt  plate    mjd  fiberID
0      302986678874695680     Composite    269  51910      435
1      302986953752602624     Composite    269  51910      436
2      304027366613608448     Composite    270  51909      125
3      305145844380755968       Seyfert    271  51883       98
4      309798153408768000  Star Forming    275  51910      639
...                   ...           ...    ...    ...      ...
3460  8516505196481411072         LINER   7564  56804      721
3461  8516534608417454080       Seyfert   7564  56804      828
3462  8517456274123323392         BLANK   7565  56809       85
3463  8517494757030295552       Star Fo   7565  56809      225
3464  8517501903855876096         LINER   7565  56809      251

[3465 rows x 5 columns]