In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#from useful_functions import *
import csv
from astropy.io import votable
from astropy.table import Table

In [9]:
#Our reran version
reran_min_abs=pd.read_csv('/Volumes/galaxies/rerunning_seth/data_min_abs/min_abs_info.txt' , delimiter='  ', header=1, names=['Name','Obsid','ra','dec','z','nH', 'Counts'])
reran_min_abs['IAU_stripped']=reran_min_abs['Name'].str[5:]

/var/folders/6x/hz5y30457mqg1y9dl2fg7r5m00034d/T/ipykernel_4631/4132563147.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  reran_min_abs=pd.read_csv('/Volumes/galaxies/rerunning_seth/data_min_abs/min_abs_info.txt' , delimiter='  ', header=1, names=['Name','Obsid','ra','dec','z','nH', 'Counts'])

In [10]:
seth_table_51=['J142859.9+330318','J102025.7+25340','J081013.0+345137','J142044.9+533913','J173801.1+58301','J233731.7+002600','J123038.9+401614','J081937.7+21065','J113645.8+070647','J235720.1-005829','J104429.3+113810','J115930.3+532055','J143232.4+340624','J080534.7+240951','J125830.1-015836','J135317.9+332929','J153854.0+170137','J014209.0-005050','J134736.4+173404','J081145.3+232825','J142841.1+323','J081910.7+212609','J161046.8+522805','J115852.2+424320','J140052.5-014511','J150117.0+014958','J020001.7-085540','J151215.7+020317','J140354.3+542209','J143525.3+330520']

In [11]:
seth_table_52=['J235720.1-005829','J235720.1-005829','J104429.3+113810','J115930.3+532055','J143232.4+340624','J143232.4+340624','J080534.7+240951','J080534.7+240951','J080534.7+240951','J080534.7+240951','J080534.7+240951','J125830.1-015836','J135317.9+332929','J135317.9+332929','J153854.0+170137','J153854.0+170137','J153854.0+170137','J014209.0-005050','J134736.4+173404','J134736.4+173404','J134736.4+173404','J081145.3+232825','J115852.2+424320','J115852.2+424320','J115852.2+424320','J115852.2+424320','J115852.2+424320','J115852.2+424320']

In [12]:
reran_min_abs[reran_min_abs['IAU_stripped'].isin(seth_table_52)]

,Name,Obsid,ra,dec,z,nH,Counts,IAU_stripped
19,2CXO J104429.3+113810,5929,161.12194,11.636486,0.229776,0.0228,86,J104429.3+113810

In [13]:
reran_min_abs[reran_min_abs['IAU_stripped'].isin(seth_table_51)]

,Name,Obsid,ra,dec,z,nH,Counts,IAU_stripped
15,2CXO J081013.0+345137,21707,122.55423,34.860239,0.083139,0.0418,124,J081013.0+345137
19,2CXO J104429.3+113810,5929,161.12194,11.636486,0.229776,0.0228,86,J104429.3+113810
24,2CXO J150117.0+014958,13246,225.32127,1.832829,0.129253,0.0417,240,J150117.0+014958

In [22]:
#Print the stats from the tcl code for an object
def print_info(obsid, name=''):
    #Our rerun
    print(f'RERAN VERSION {name}:')
    print()
    with open(f"/Volumes/galaxies/rerunning_seth/data_min_abs/{obsid}/abs_summary.txt") as f: 
        print(f.read())
    print()
    print()
    print("ARCHIVAL VERSION:")
    print()
    #I think archival version of Seth's data
    with open(f"/Volumes/galaxies/Seth/AGNs/x-ray/archive/all_sources/{obsid}/primary/tclout.txt") as f: 
        print(f.read())
    print()
    print()
    print("SETH'S VERSION:")
    print()
    #Latest(?) version of Seth's data
    with open(f"/Volumes/galaxies/Seth/AGNs/x-ray/csc_v2/{obsid}/primary/tclout.txt") as f: 
        print(f.read())

In [26]:
#Reran version of J104429.3+113810, only source listed in 5.2 as "primary" that we retrieved
print_info(5929, 'J081013.0+345137')

RERAN VERSION J081013.0+345137:

#CSTAT:
630.3756222
nH:
0.0001299313176 0.001 0 0 100000 1000000
ERROR:
0 0.3315783794  FFFTFFTFF
Gamma:
3.366373863 0.01 -3 -2 9 10
ERROR:
2.882158233 4.638623762  FFFFFFFFF
0.3-7.5 Flux:
2.368362553e-14 8.139832105e-15 2.178184786e-14  2.681091356e-05 5.424461715e-06 2.435680231e-05 9.168769119e-14 9.168769119e-14 9.168769119e-14  1.01679307e-05 1.01679307e-05 1.01679307e-05
2-10 Flux:
1.924435023e-15 7.594622966e-16 3.120628524e-15  3.811294767e-07 1.676067706e-07 5.795095531e-07 2.89816758e-13 2.89816758e-13 2.89816758e-13  2.395335011e-05 2.395335011e-05 2.395335011e-05



ARCHIVAL VERSION:

#CSTAT:
443.1875273
nH:
6.24463e-08 0.001 0 0 100000 1e+06
ERROR:
NONE
Gamma:
2.84263 0.01 -3 -2 9 10
ERROR:
NONE
0.3-7.5 Flux:
2.050109943e-14 0 0  1.915643771e-05 0 0 4.055685212e-14 0 0  4.33938156e-06 0 0
2-10 Flux:
3.791048039e-15 0 0  6.907564408e-07 0 0 1.479033595e-13 0 0  1.183484055e-05 0 0



SETH'S VERSION:

#CSTAT:
443.1875273
nH:
6.27275e-08 0.001 0 0 100000 1e+06
ERROR:
NONE
Gamma:
2.84263 0.01 -3 -2 9 10
ERROR:
NONE
0.3-7.5 Flux:
2.050109944e-14 0 0  1.915643773e-05 0 0 4.055685212e-14 0 0  4.33938156e-06 0 0
2-10 Flux:
3.791048036e-15 0 0  6.907564403e-07 0 0 1.479033595e-13 0 0  1.183484055e-05 0 0

In [25]:
print_info(13246, 'J150117.0+014958')

RERAN VERSION J150117.0+014958:

#CSTAT:
899.2937391
nH:
2.349959955e-09 0.001 0 0 100000 1000000
ERROR:
0.8224962029 0  FFFFFFTTF
Gamma:
2.926265149 0.01 -3 -2 9 10
ERROR:
2.590248112 3.278467439  FFFFFFFFF
0.3-7.5 Flux:
NONE
2-10 Flux:
NONE



ARCHIVAL VERSION:

#CSTAT:
723.4641185
nH:
1.68883e-09 0.001 0 0 100000 1e+06
ERROR:
0.8224962023 0  FFFFFFTTF
Gamma:
2.49604 0.01 -3 -2 9 10
ERROR:
2.184117244 2.825693829  FFFFFFFFF
0.3-7.5 Flux:
NONE
2-10 Flux:
NONE



SETH'S VERSION:

#CSTAT:
723.4641185
nH:
1.68883e-09 0.001 0 0 100000 1e+06
ERROR:
0.8224962023 0  FFFFFFTTF
Gamma:
2.49604 0.01 -3 -2 9 10
ERROR:
2.184117244 2.825693829  FFFFFFFFF
0.3-7.5 Flux:
NONE
2-10 Flux:
NONE

In [24]:
print_info(21707, 'J081013.0+345137')

RERAN VERSION J081013.0+345137:

#CSTAT:
816.1906362
nH:
1.904589158e-08 0.001 0 0 100000 1000000
ERROR:
0.8224962196 0  FFFFFFTTF
Gamma:
7.337288034 0.01 -3 -2 9 10
ERROR:
5.982333048 8.573713569  FFFFFFFFF
0.3-7.5 Flux:
NONE
2-10 Flux:
NONE



ARCHIVAL VERSION:

#CSTAT:
607.2226648
nH:
1.89775e-10 0.001 0 0 100000 1e+06
ERROR:
0.8224962008 0  FFFFFFTTF
Gamma:
1.68229 0.01 -3 -2 9 10
ERROR:
1.146584451 2.33315194  FFFFFFFFF
0.3-7.5 Flux:
NONE
2-10 Flux:
NONE



SETH'S VERSION:

#CSTAT:
607.2226648
nH:
1.89775e-10 0.001 0 0 100000 1e+06
ERROR:
0.8224962008 0  FFFFFFTTF
Gamma:
1.68229 0.01 -3 -2 9 10
ERROR:
1.146584451 2.33315194  FFFFFFFFF
0.3-7.5 Flux:
NONE
2-10 Flux:
NONE