In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from astropy.io import votable
from astropy.table import Table
from astroquery.esa.xmm_newton import XMMNewton

In [55]:
result = XMMNewton.query_xsa_tap("select top 10 * from xsa.v_epic_source_cat", output_format='csv', output_file='/Users/kciurleo/Documents/kciurleo/AGN/unorganized/test_results.csv')

print(result)

      bii        ccdm1 ccdm2 ccdpn ... tseries var_exp_id var_flag var_inst_id
---------------- ----- ----- ----- ... ------- ---------- -------- -----------
-52.142557318696     7     3     3 ...   false         --       --          --
-18.113900744149     6     7     4 ...   false         --       --          --
-59.907964825252     3     4    10 ...   false         --       --          --
-59.754597327708     3     5     8 ...    true         --       --          --
 5.5816273421188     6     7     4 ...   false         --       --          --
-38.124328197669     5    --    -- ...   false         --       --          --
-55.449909227666    --     2     2 ...   false         --       --          --
-60.771415214831    --     4    11 ...   false         --       --          --
-59.866008014595     3     4    -- ...   false         --       --          --
-17.536153023868     6     7    -- ...    true       S003    false          M2

In [53]:
tester = pd.read_csv('/Users/kciurleo/Documents/kciurleo/AGN/unorganized/test_results.csv')

In [54]:
tester

,bii,dec,ep_det_ml,ep_extent,ep_ext_err,ep_flag,ep_hr1,ep_hr1_err,ep_hr2,ep_hr2_err,...,om_id4,om_id4_dist,om_id5,om_id5_dist,pn_cts,pn_tot,pn_tot_flux,ra,radec_err,src_num
0,-35.036504,-34.356672,89.728409,14.110054,1.300603,TFFFFFFFFFFF,0.380213,0.202694,-0.949914,0.084919,...,NaN,NaN,NaN,NaN,62.317097,0.006048,7.841568e-15,308.399350,1.017631,105
1,-35.371456,-34.462809,11.524117,0.000000,NaN,FFFFFFFFFFFF,0.520528,0.265526,0.284762,0.194428,...,NaN,NaN,NaN,NaN,40.557926,0.003025,7.869407e-15,308.787811,2.209935,92
2,-35.066737,-34.425047,24.728241,0.000000,NaN,FFFFFFFFFFFF,0.090903,0.218775,0.145596,0.187561,...,NaN,NaN,NaN,NaN,48.397995,0.003297,5.798951e-15,308.420247,1.332249,59
3,-35.121425,-34.510749,34.515087,0.000000,NaN,FFFFFFFFFFFF,0.497267,0.192315,-0.110189,0.160405,...,NaN,NaN,NaN,NaN,43.287743,0.002310,6.823828e-15,308.467345,1.113736,47
4,-35.270103,-34.402991,21.511173,0.000000,NaN,FFFFFFFFFFFF,0.183569,0.235603,-0.053496,0.241337,...,NaN,NaN,NaN,NaN,43.884613,0.002605,7.572353e-15,308.676776,1.352507,64
5,-35.273014,-34.746455,9.431950,0.000000,NaN,FFFFFFFFFFFF,0.285624,0.392494,-0.069054,0.377130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308.599281,2.396546,107
6,-35.222342,-34.329203,44.852852,0.000000,NaN,FFFFFFFTFFFF,0.599816,0.212324,0.340650,0.141726,...,NaN,NaN,NaN,NaN,100.687904,0.009464,6.239095e-14,308.635405,1.001681,53
7,-35.202270,-34.513948,33.023472,0.000000,NaN,FFTFFFFFFFFF,-0.327559,0.506490,0.650351,0.378145,...,NaN,NaN,NaN,NaN,114.573212,0.004091,3.168265e-14,308.566566,0.971298,15
8,-35.349695,-34.306548,12.474614,0.000000,NaN,FFFFFFFFFFFF,0.221805,0.256054,-0.231108,0.299235,...,NaN,NaN,NaN,NaN,39.709820,0.004750,6.542052e-15,308.797968,2.072452,94
9,-35.047169,-34.535042,24.314121,0.000000,NaN,FFFFFFFFFFFF,0.445147,0.173280,-0.145496,0.193227,...,NaN,NaN,NaN,NaN,40.786209,0.003240,7.620928e-15,308.369682,1.755846,74

In [49]:
XMM.head(11)

,detid,srcid,dr3srcid,dr3detid,dr3detdist,dr3srcdist,dr3mult,dr4srcid,dr4detid,dr4detdist,...,sc_sum_flag,sc_ep_8_fmin,sc_ep_8_fmin_err,sc_ep_8_fmax,sc_ep_8_fmax_err,mjd_first,mjd_last,n_detections,confused,high_background
0,107241502010136,207241502010136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,5.282975e-14,3.259059e-14,5.282975e-14,3.259059e-14,56649.483437,56650.132060,1,f,f
1,107009801010064,201129705010092,156292.0,NaN,NaN,0.805753,58.0,425.0,NaN,NaN,...,3,2.875631e-15,3.078046e-15,5.549652e-14,2.163381e-14,51808.390370,59664.649977,58,f,f
2,108626407010068,208626407010068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1.422362e-14,2.575678e-14,1.422362e-14,2.575678e-14,59144.643819,59144.964456,1,f,f
3,108626407010031,208626407010031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,4.773545e-14,1.758098e-14,4.773545e-14,1.758098e-14,59144.643819,59144.964456,1,f,f
4,107009901010033,207009901010033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,6.831075e-15,5.957784e-15,6.831075e-15,5.957784e-15,56291.882303,56292.258924,1,f,f
5,106935404010036,206935404010036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1.180420e-13,8.585442e-14,1.180420e-13,8.585442e-14,56304.222130,56304.407789,1,f,f
6,106771806010030,206771806010030,NaN,NaN,NaN,NaN,NaN,119152.0,531043.0,1419.60640,...,0,3.178100e-14,4.675968e-14,3.178100e-14,4.675968e-14,55853.276794,55853.392477,1,f,f
7,108626414010045,208626414010045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,8.989588e-14,7.809020e-14,8.989588e-14,7.809020e-14,59001.219595,59001.404988,1,f,f
8,108626407010087,208626407010087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,8.525297e-14,3.006499e-14,8.525297e-14,3.006499e-14,59144.643819,59144.964456,1,f,f
9,106584004010017,206584004010017,NaN,NaN,NaN,NaN,NaN,119078.0,320.0,0.26233,...,0,1.488571e-13,4.104616e-14,1.488571e-13,4.104616e-14,55578.776979,55579.143507,1,f,f
10,106584004010058,206584004010058,NaN,NaN,NaN,NaN,NaN,118631.0,316.0,280.35083,...,0,2.791793e-14,1.948700e-14,2.791793e-14,1.948700e-14,55578.776979,55579.143507,1,f,f

In [34]:
XMM=pd.read_csv('/Users/kciurleo/Documents/kciurleo/AGN/csvs/4XMM_DR13cat_v1.0.csv')

In [31]:
XMMNewton.get_tables()

INFO: Retrieving tables... [astroquery.utils.tap.core]
INFO: Parsing tables... [astroquery.utils.tap.core]
INFO: Done. [astroquery.utils.tap.core]

['public.dual',
 'tap_config.coord_sys',
 'tap_config.properties',
 'tap_schema.columns',
 'tap_schema.key_columns',
 'tap_schema.keys',
 'tap_schema.schemas',
 'tap_schema.tables',
 'xsa.v_all_observations',
 'xsa.v_epic_source',
 'xsa.v_epic_source_cat',
 'xsa.v_epic_xmm_stack_cat',
 'xsa.v_exposure',
 'xsa.v_instrument_mode',
 'xsa.v_om_source',
 'xsa.v_om_source_cat',
 'xsa.v_proposal',
 'xsa.v_proposal_observation_info',
 'xsa.v_publication',
 'xsa.v_publication_observation',
 'xsa.v_publication_slew_observation',
 'xsa.v_public_observations',
 'xsa.v_public_observations_new_odf_ingestion',
 'xsa.v_public_observations_new_pps_ingestion',
 'xsa.v_rgs_source',
 'xsa.v_slew_exposure',
 'xsa.v_slew_observation',
 'xsa.v_slew_source',
 'xsa.v_slew_source_cat',
 'xsa.v_target_type',
 'xsa.v_uls_exposure_image',
 'xsa.v_uls_slew_exposure_image']